<% if logged_in? %>

  <% unless clothe.favorite_user(current_user.id).blank? %>
    <%= link_to clothe_favorite_path(clothe_id: clothe.id ,id: clothe.favorites[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="fas fa-heart", style="color: red;"></i>
          <span class="red-text">             
            <%= clothe.favorite_count %>
          </span>
      </div>
    <% end %>

  <% else %>
    <%= link_to clothe_favorites_path(clothe.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <i class="far fa-heart"></i>
          <span class="grey-text text-darken-2">
            <%= clothe.favorite_count %>
          </span>
      </div>
    <% end %>
  <% end %>

<% end %>

  
