/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 header {
  z-index: 10;
  height:200px;
	background-color: hsl(41, 80%, 90%);
	width: 100%;
	position:fixed;
  top:0;
  border-bottom: 1px solid rgba(252, 247, 232, 0.125);
  background-image: image-url("hiroba.jpg");
  background-position: center;
}

a {
  color: #000000;
}
a:hover {
  color: grey;
}

.index_image {
  object-fit: cover;
}

.page-link {
  /* position: relative;
  display: block; */
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 9999;
  color: black;
  background-color: white;
  border-color: black;
}

.card-footer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body {
  padding: 5px;
  height: 25rem; 
} 

div#error_explanation {
  color: red;
}

.fa-hand-pointer:hover{
  color:grey;
  background-color:none;
}

#back-to-top a:hover{
  background :none;
  color:black;
}